@using WebApplication1.Models;


@{
    ViewBag.Title = "GetStudentInfo";
}

<div>
    @foreach (Student item in Model)
    {
    <div>@item.FirstName , @item.LastName , @item.Class , @item.Age</div>
    <img src="http://www.yo-yoo.co.il/coolpics/images/uploads/loveityoyo3.jpg"/>
    }
</div>

